@import 'tailwindcss';

@import 'tw-animate-css';

@font-face {
	font-family: 'Ubuntu';
	src: url('$lib/xui/assets/fonts/Ubuntu-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('$lib/xui/assets/fonts/Ubuntu-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('$lib/xui/assets/fonts/Ubuntu-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('$lib/xui/assets/fonts/Ubuntu-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('$lib/xui/assets/fonts/Ubuntu-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('$lib/xui/assets/fonts/Ubuntu-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('$lib/xui/assets/fonts/Ubuntu-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('$lib/xui/assets/fonts/Ubuntu-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'UbuntuMono';
	src: url('$lib/xui/assets/fonts/UbuntuMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuMono';
	src: url('$lib/xui/assets/fonts/UbuntuMono-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'UbuntuMono';
	src: url('$lib/xui/assets/fonts/UbuntuMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuMono';
	src: url('$lib/xui/assets/fonts/UbuntuMono-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@theme {
	--font-ubuntu: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	--font-ubuntu-mono: 'UbuntuMono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

	--color-zinc-150: #ececee;
	--color-zinc-250: #dcdce0;
	--color-zinc-350: #bbbbc1;
	--color-zinc-450: #898992;
	--color-zinc-550: #62626b;
	--color-zinc-650: #494951;
	--color-zinc-750: #333338;
	--color-zinc-850: #202023;

	--spacing-content: 120rem;
}

@custom-variant dark {
	&:where([data-theme='dark'], [data-theme='dark'] *) {
		@slot;
	}
}

@layer base {
	:root {
		@apply bg-zinc-100 font-ubuntu text-zinc-800 dark:bg-zinc-900 dark:text-zinc-200;
	}

	* {
		@apply transition duration-200 ease-in-out selection:bg-zinc-300 dark:selection:bg-zinc-700;
	}

	body {
		@apply h-screen w-screen;
	}

	/* Custom scale xuiStyles */

	:root[data-uiscale='xs'] {
		font-size: 0.8rem;
	}

	:root[data-uiscale='sm'] {
		font-size: 0.9rem;
	}

	:root[data-uiscale='base'] {
		font-size: 1rem;
	}

	:root[data-uiscale='lg'] {
		font-size: 1.1rem;
	}

	:root[data-uiscale='xl'] {
		font-size: 1.2rem;
	}
}
